@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,500&family=Lato:ital@0;1&display=swap');

:root {
    

    --garamond: 'EB Garamond';
    --lato: 'Lato';

    --col-fg: #DFE2DF;
    --col-bg: #1D201F;
    --col-orange: #FE5F55;
    --col-pink: #E63462;
    --col-purple: #E63462;

    body {
        margin: 0;
        padding: 0;
        color: var(--col-fg);
        font-family: var(--lato);
    }
}