---
import NavBar from "../components/NavBar.astro";
import PageBackground from "../components/PageBackground.astro";
---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/logo/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gavin</title>
	</head>
    <body>
        <NavBar />
        <PageBackground />

        <div class="content-container">
            <div class="content">
                <h1>404! Page not found!</h1>
                <p>
                    Hello explorer! The page you've been searching for isn't here. 
                    Use the navbar to get back to safety!
                </p>
            </div>
        </div>
    </body>
</html>

<style lang="scss">
    @import "../styles/theme.scss";

    body {
		overflow: hidden;
	}

    p {
        font-size: large;
    }

    .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 100;
        position: absolute;
        width: 100%;
        top: 35%
    }

    .content {
        margin: 10px;
        padding: 30px;
        display: flex;
        max-width: 800px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 30px;

        border-width: 10px;
        border-color: #1D201F;
        border: 5, solid, var(--col-bg) ;

        background: rgba(#1D201F, 0.6);
        backdrop-filter: blur(20px);
    }
</style>