---
import Content from "../components/Content.astro";
import Page from "../layouts/Page.astro";
---

<Page title="Gavin - 404">
    <Content>
        <h1>404! Page not found!</h1>
        <p>
            Hello explorer! The page you've been searching for isn't here. Use
            the navbar to get back to safety!
        </p>
    </Content>
</Page>
