---
import BlogPost from "../components/BlogPost.astro";
import Content from "../components/Content.astro";
import NavBar from "../components/NavBar.astro";
import PageBackground from "../components/PageBackground.astro";

const posts = await Astro.glob('../pages/blogs/*.md');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/logo/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gavin - Blogs</title>
	</head>
	<body>
        <div id="scroll-locked" class="scroll-locked">
            <PageBackground />
            <NavBar />
        </div>
        <div class="content-container">
            <Content class="desc">
                <p>
                    You can expect a new blog post every few days. 
                    I typically write about subjects related to computer science, but I do branch out.
                </p>
            </Content>
            <Content class="blogs-list">
                <h1>Blog Posts</h1>
                <ul>
                    {posts.map((post) => <li><BlogPost blog={post} /></li>)}  
                </ul>
            </Content>
        </div>
	</body>
</html>

<style lang="scss">
	@import "../styles/theme.scss";

    body {
        overflow-x: hidden;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .desc {
        flex-grow: 1;
    }

    .blogs-list {
        flex-grow: 2;
    }
</style>
