---
import BlogPost from "../components/BlogPost.astro";
import Content from "../components/Content.astro";
import NavBar from "../components/NavBar.astro";
import PageBackground from "../components/PageBackground.astro";

const posts = await Astro.glob('../pages/blogs/*.md');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gavin - Blogs</title>
	</head>
	<body>
        <PageBackground />
        <NavBar />
        <Content class="blogs-list">
            <h1>Blog Posts</h1>
            <ul class="list">
                {posts.map((post) => <li><BlogPost blog={post} /></li>)}  
            </ul>
        </Content>
	</body>
</html>

<style lang="scss">
	@import "../styles/theme.scss";

    body {
        overflow-x: hidden;
    }

    .desc {
        flex-grow: 1;
    }

    .blogs-list {
        flex-grow: 2;
    }

    .list {
        list-style: none;
        padding: 0;
        margin: 0;
        
        li {
            padding-bottom: 20px;
        }
    }
</style>
