---
import ScrollLocked from "../components/ScrollLocked.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/logo/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gavin</title>
	</head>
	<body>
		<ScrollLocked />
	</body>
</html>

<style lang="scss">
	@import "../styles/theme.scss";

	body {
        overflow-x: hidden;
    }
</style>
