---
import PageBackground from "../components/PageBackground.astro";
import NavBar from "../components/NavBar.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/logo/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<PageBackground />
		<NavBar />
	</body>
</html>

<style lang="scss">
	@import "../styles/theme.scss";

	body {
		background-color: var(--col-bg);
		overflow: hidden;
	}

	h1 {
		color: var(--col-fg)
	}
</style>
