---
import Content from "../components/Content.astro";
import NavBar from "../components/NavBar.astro";
import PageBackground from "../components/PageBackground.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gavin</title>
	</head>
	<body>
		<PageBackground />
		<NavBar />

		<div class="about">
			<div class="about-item">
				<Content>
					<h1>Who am I?</h1>
					<p>I am Gavin Niederman, a high scool student interested in computer science and graphic design.</p>
				</Content>
			</div>
		</div>
	</body>
</html>

<style lang="scss">
	@import "../styles/theme.scss";

	body {
        overflow-x: hidden;
    }
</style>
