---
import Content from "../components/Content.astro";
import Page from "../layouts/Page.astro";
---

<Page class="Gavin">
	<div class="about">
		<div class="content-image-pair">
			<div class="content">
				<Content>
					<h1>Hi I'm Gavin</h1>
					<p>
						I'm Gavin Niederman, a high school student interested in
						computer science and graphic design. I write
						miscellaneous blogs and post them here. You can find
						much of my code on <a href="https://github.com/gavin-niederman">my github account</a
						>.
					</p>
				</Content>
			</div>
			<img class="image" src="/logo/logo.png" />
		</div>

		<div class="content-image-pair">
			<img class="image" src="/logo/logo.png" />
			<div class="content">
				<Content>
					<h1>What I write</h1>
					<p>
						I write blogs about many topics, including but not
						limited to:
					</p>
					<ul>
						<li>Computer science</li>
						<li>Writeups (for example CTF writeups)</li>
						<li>Design (3d modeling, graphic design, etc.)</li>
					</ul>
					<p>
						I will occasionally branch out and write about something
						completely different. Use the navbar or click
						right <a href="blogs">here</a> to read my blogs
					</p>
				</Content>
			</div>
		</div>
	</div>
</Page>

<style lang="scss">
	@import "../styles/theme.scss";

	.about {
		gap: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.content-image-pair {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 20px;
		max-width: 1000px;

		.content {
			width: 70%;
		}

		.image {
			margin: 10px;
			width: 30%;
			border-radius: 30px;
		}
	}

	@media (max-width: 600px) {
		.content-image-pair {
			flex-direction: column;
			gap: 0px;

			.content {
				width: 100%;
			}

			.image {
				width: 0%;
				margin: 0px;
			}
		}
	}
</style>
