---
import Content from "../components/Content.astro";
import Page from "../layouts/Page.astro";
---

<Page title="Gavin - Projects">
	<Content>
		<h1>Projects</h1>
		<p>
			This page is a list of some of my most notable projects. If I did
			not create the entire project, or most of it, I will include what
			exactly I added to it.
		</p>
	</Content>
</Page>
