---
---

<div class="nav-container">
    <div class="navbar-color">
        <a class="item" href="/blogs" style="position: relative; top: 4.5px;">blogs</a>
        <a class="item" href="/projects">projects</a>
        <a class="item home" href="/"><img src="/images/logo/logo.png" height="50px" /></a>
    </div>

    <hr>
</div>

<style lang="scss">
    @import "../styles/theme.scss";
    // @import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

    .nav-container {
        position: sticky;

        z-index: 100;

        rotate: 2deg;
    }

    .navbar-color {
        width: 101vw;
        background-color: var(--col-bg);
        position: relative;
        top: -5vh;
        left: -0.5vh;

        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
    }

    .item {
        rotate: -2deg;
        padding-top: 15px;
        padding-right: 10px;
        font-size: 1.75rem;
        font-family: var(--font-lato);
        color: var(--col-fg);
        filter: drop-shadow(0px 0px 5px #000);
        background: -webkit-linear-gradient(var(--col-orange), var(--col-pink));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }

    .home {
        padding-right: 30px;
        padding-left: 10px;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    hr {
        height: 5px;
        position: relative;
        top: -5vh;
        border: none;
        width: 105vw;
        left: -2.5vw;
        background-color: var(--col-bg);
        // border-width: 5px;
        // border-color: var(--col-orange)
    }
</style>