---
import NavBar from "../components/NavBar.astro";
import PageBackground from "../components/PageBackground.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
		<PageBackground/>
		<NavBar />
        <div class="container">
            <slot />
        </div>
	</body>
</html>

<style lang="scss">
	@import "../styles/theme.scss";

	body {
        overflow-x: hidden;
    }

    .container {
        position: relative;
        top: 15vh;
    }
</style>
